
.cor-noticia {color:#0D5489}
.cor-esporte {color:#2F822F}
.cor-entretenimento {color:#4C0066}
.cor-multimidia {color:#006666}
.cor-ee{color:#C00}

.topo {
	background:url(../img/bg-topo.png);
	height:145px;
	border-bottom:5px solid #e2e2e2;
}
#login {
	background:#f4f4f4;
}
#login h1 {
	font-size: 21px;
	background: url(../img/bg-topo-not.png);
	margin: 0 0 10px;
	padding: 10px;
	color: #fff;
	font-weight: normal;
	text-align:center;
}
#login input[type="text"], input[type="password"] {
	width: 307px;
	padding: 10px;
}
#login input[type="button"] {
	width: 80px;
}
#login p {
	margin: 0;
	padding: 0 10px;
}
#login p span {
	width: 248px;
	float: left;
	padding: 5px 0;
	font-size: 12px;
	text-decoration: underline;
}
.login-cad {
	background: url(../img/bg-topo.png);
	margin-top: 10px;
	padding: 10px;
}
#pesquisa {
	background:#f4f4f4;
}
#pesquisa h1 {
	font-size: 21px;
	background: url(../img/bg-topo-not.png);
	margin: 0 0 10px;
	padding: 10px;
	color: #fff;
	font-weight: normal;
	text-align:center;
}
#pesquisa input[type="text"] {
	width: 212px;
	padding:10px;
	-webkit-border-radius: 24px 0 0 24px;
	-moz-border-radius: 24px 0 0 24px;
	border-radius: 24px 0 0 24px;
}
#pesquisa button[type="submit"] {
	padding:10px 15px;
	-webkit-border-radius: 0 24px 24px 0;
	-moz-border-radius: 0 24px 24px 0;
	border-radius: 0 24px 24px 0;
}
#pesquisa form {
	margin: 0;
	padding: 0 10px;
}
.logo {
	float: left;
	margin-top: 20px;
}
.super-banner {
	position:absolute;
	width:728px;
	height:90px;
	background:#CCC;
	margin: 10px 0 0 212px;
}
.menu {
	float: right;
	margin: 110px 0 0 0;
	height: 35px;
}
.menu-not {
	color:#0D5489 !important;
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-not:hover {
	border-top:3px solid #0D5489;
	margin-top:-3px;
}
.not-ativo {
	border-top:3px solid #0D5489;
	margin-top:-3px;
}
.menu-esp {
	color:#2F822F !important;
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-esp:hover {
	border-top:3px solid #2F822F;
	margin-top:-3px;
}
.esp-ativo {
	border-top:3px solid #2F822F;
	margin-top:-3px;
}
.menu-ent {
	color:#4C0066 !important;
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-ent:hover {
	border-top:3px solid #4C0066;
	margin-top:-3px;
}
.ent-ativo {
	border-top:3px solid #4C0066;
	margin-top:-3px;
}
.menu-mult {
	color:#006666 !important;
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-mult:hover {
	border-top:3px solid #006666;
	margin-top:-3px;
}
.mult-ativo {
	border-top:3px solid #006666;
	margin-top:-3px;
}
.menu-edi {
	color:#C00 !important;
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.menu-edi:hover {
	border-top:3px solid #C00;
	margin-top:-3px;
}
.edi-ativo {
	border-top:3px solid #C00;
	margin-top:-3px;
}
.menu-bt {
	margin-left:1px;
	font-family: 'Patua One', cursive;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px 10px !important;
}
.menu-bt:hover {
	border-top:3px solid #666;
	margin-top:-3px;
}
.menu-bt img {
	width: 19px;
	height: 19px;
	border: none;
	margin-top: -2px;
}
.drop-ent {
	border-bottom: 3px solid #4C0066 !important;
}
.drop-ent li {
	margin:0 !important;
}

.chapeu{ margin:0; text-transform:uppercase}
.mt { margin-top:20px}
.mb-0{ margin-bottom:0}
.mb-10{ margin-bottom:10px}
.border-b { border-bottom:1px dotted #c0c0c0}

.info-not { font-size:11px; color:#c0c0c0;}
.info-not a {color:#c0c0c0;}
.info-not a:hover  {color:#333;}
.not-img-1 {float:left; margin-right:5px; border-radius:5px}


footer {
	background:#eee;
	border-top:5px solid #ddd;
}
.mapa-rodape {
	margin-bottom:30px;
	margin-top:10px;
}
.mapa-rodape h4 {
	border-bottom:1px solid #CCC;
	padding-bottom: 10px;
}
.mapa-rodape a {
	font-size:12px;
	color:#666;
}
.menu-rodape {
	background:url(../img/bg-menurodape.png);
}
.menu-rodape ul {
	margin:0;
	padding:0;
	float:left;
}
.menu-rodape ul li {
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
.menu-rodape ul li a {
	margin: 0;
	float: left;
	list-style: none;
	font-family: 'Patua One', cursive;
	color: #ccc;
	text-align: center;
	font-size: 12px;
	padding: 10px 18px;
}
.copy {
	background:#DDD;
	padding:10px;
	font-size:11px;
}